<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description>Resource for manager</description>
            <url-pattern>/add_res.html</url-pattern>
            <url-pattern>/add_provider.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enbale authentication for manager</description>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login_error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>A manager add residences</description>
        <role-name>manager</role-name>
    </security-role>
</web-app>
